
#paint-panel {
	width: 100%;
	height: 100%;
	border-radius: 4px;
}

#paint-panel .btn-group {

    align-items: center;
    width: 100%;
	background-color: #fafafa;

}

#sketch {
	border: 2px solid gray;
	position: relative;
	float: left;
	height: 100%;
	width: 100%;
	height: 700px;
	padding: 10px;
}

#tmp_canvas {
	position: absolute;
	left: 10px; 
	top: 10px;
	cursor: crosshair;
}